.compras-lista a{
    text-decoration: none;
    color: black;
}

.compras-container {
    background-color: aquamarine;
    cursor: pointer;
    padding: 4px;
}

.compras-container:hover {
    background-color: rgb(255, 154, 154);
}

button {
    cursor: pointer;
}