.produtos-lista {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nome-empresa { 
    text-decoration: none;
    color:  rgb(0, 76, 217);
    width: fit-content;
    font-size: xx-large;
}

.nome-empresa:hover {
    font-weight: bold;
    color: rgb(172, 176, 255) ;
}

.produto-container {
    padding: 8px;
    border-bottom: 1px solid rgb(0, 76, 217);
}

.produto-container:hover{
    background-color: rgb(172, 176, 255);
}

.enviar {
    padding: 8px;
    border:none;
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}