

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.links a {
    margin: 0 auto;
    background-color: lightblue;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
}

.links a:hover {
    background-color: rgb(75, 75, 255);
    color: white;
}

button {
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

.base-header {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}

.user a {
    text-decoration: none;
    color: black;
}

.user button {
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 8px;
    transition: .5s ease;
}

.user button:hover {
    background-color: rgb(138, 0, 0);
}