{% extends "base.html" %}

{% block content_title %}Detalhes da compra{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compra.css') }}">
{% endblock %}
{% block content %}

{% if user["admin"] %}

<dialog class="dialogo-remover-mudancas">
    <div class="text">
        <h1>Cuidado!</h1>
        <p>Ao prosseguir com essa operação, todas as mudanças relativas a esta compra serão perdidas.</p>
        <p>os dados <b>não</b> poderão ser recuperados posteriormente.</p>
    </div>
    <div class="botoes">
        <a href="{{ url_for('remover_edicoes_compra', id=context['compra']['id']) }}"><button>Continuar</button></a>
        <button onclick="fecharDialogoMudancas()">Retornar</button>
    </div>
</dialog>

{% endif %}




{% if context["compra"]["editavel"] %}
    <span>Modo de <i>edição</i></span>

    {% if not context["compra"]["pagador"] %}
        <p><b style="color: darkorchid;">Esta compra precisa de um pagador</b></p>
    {% endif %}

    {% if not context["compra"]["participantes"] %}
        <p><b style="color: darkorchid;">Todos os itens precisam ter ao menos um consumidor</b></p>
    {% endif %}

{% else %}
    <span>Modo de <i>visualização</i></span>
{% endif %}
{% if context["compra"]["analizada"] %}
    <p>Esta compra já foi analisada</p>
    <div>
        <b>Pagamentos:</b>

        <div class="consumidores">
            {% for participante in participantes %}
            {% if participante["usuario"] == context["usuario"] %}
                <p class="consumidor usuario_consumidor"><b>Você paga: </b>R$ {{ '%0.2f'|format(pagamento_participantes[participante['usuario']])|float }}</p>
            {% else %}
                <p class="consumidor"><b>{{ participante["usuario"] }} paga: </b>R$ {{ '%0.2f'|format(pagamento_participantes[participante['usuario']])|float }}</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    
{% else %}
    <h4 >Esta compra ainda não foi analisada</h4 >
{% endif %}

{% if user["admin"] %}

<h2>Modo administrador</h2>

{% if context["compra"]["editavel"]  %}
    <a href="{{ url_for('mudar_para_o_modo_de_visualizacao', protocolo=context['compra']['protocolo']) }}">
        <button class="mudar-modo">Mudar para o modo de visualização</button>
    </a>
    <a><button id="remover-edicoes" style="background-color: red; color: white;" onclick="abrirDialogoMudancas()">Remover todas as edições feitas nesta compra</button></a>
{% elif not context["compra"]["analizada"]%}
    <a href="{{ url_for('mudar_para_o_modo_de_edicao', protocolo=context['compra']['protocolo']) }}"><button class="mudar-modo">Mudar para o modo de edição</button></a>
    {% endif %}
    
    {% if context["compra"]["analizada"] %}
        <a href="{{ url_for('definir_compra_nao_analizada', id=context["compra"]["id"]) }}"><button class="btn-analise">Definir compra como "Não analisada"</button></a>
    {% elif habilitar_analise %}
        <a href="{{ url_for('definir_compra_analizada', id=context["compra"]["id"]) }}"><button class="btn-analise">Definir compra como "Analisada"</button></a>
    {% endif %}
    <br>
{% endif %}
    <br>
    <a class="nome-empresa" href="{{ url_for('informacoes_empresa', id=context['compra']['estabelecimento']['id']) }}">
        {{ context["compra"]["estabelecimento"]["nome"] }}
</a>
<p><b>{{ context["compra"]["estabelecimento"]["endereco"] }}</b></p>
{% if user["admin"] %}
<p><b>Protocolo: </b>{{ context["compra"]["protocolo"] }}</p>
{% endif %}
<p><b>Valor Total:</b> R$ {{ context["compra"]["preco"] }}</p>
<p><b>Total de itens:</b> {{ context["compra"]["total_itens"] }}</p>
<p><b>Preço médio por produto: </b>R$ {{ '%0.2f'|format(context["compra"]["preco_por_produto"])|float }}</p>
<p><b>Data da compra:</b> {{ context["compra"]["data"] }}</p>
{% if not context["compra"]["pagador"] %}
{% if context["compra"]["editavel"] %}
<button onclick="location.reload()" class="btn-recarregar">Verificar mudanças</button>
    <button onclick="pagar_compra(true).then(data => window.location.href = window.location.href)" class="btn-pgto-compra">Eu paguei por isso!</button>
{% endif %}
{% elif context["compra"]["pagador"] == context["usuario"] %}
<p style="color: darkred;"><b><i> Você registrou o pagamento dessa compra </i></b></p>
{% if context["compra"]["editavel"] %}
    <button onclick="pagar_compra(false).then( data => window.location.href = window.location.href)" class="btn-pgto-compra">Eu Não paguei por isso!</button>
{% endif %}
{% else %}
<p><b>Pagador: </b> {{ context["compra"]["pagador"] }}</p>
{% endif %}
<hr>
{% if participantes %}
<div>
    <p><i><b>Usuários que participam desta compra:</b></i></p>
    <div style="display: flex; gap: 5px; align-items: center;">
        {% for participante in participantes %}
            {% if context["usuario"] == participante["usuario"] %}
                <p class="consumidor usuario_consumidor">Você</p>
            {% else %}
                <p class="consumidor">{{ participante["usuario"] }}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
<hr>
{% endif %}


{% if context["compra"]["editavel"] %}
<div class="btns-marcadores">
    <p>Selecione os produtos que você consumiu</p>
    <button id="selecionar-tudo">Selecionar tudo</button>
    <button id="desmarcar-tudo">Não selecionar nada</button>
</div>
{% endif %}
<div class="produtos-lista">
    {% for produto in context["produtos"] %}
        <div class="produto-container">
            <input type="checkbox" class="checkbox" id="selecao-produto" value="{{produto['id']}}"
                {% if not context['compra']['editavel'] %}
                    disabled
                {% endif %}
                {% if produto in produtos_consumidos %}
                    checked
                {% endif %}
            >
            <div>
                <p><b>{{ produto["nome"] }}</b></p>
                <p><b>Preço:</b> R$ {{ '%0.2f'|format(produto["preco"])|float }}</p>
                <p><b>Preço Real: </b>R$ {{ '%0.2f'|format(produto["preco_real"])|float }} / {{ produto["unidade"] }}</p>
                <p><b>Quantidade: </b> {{ produto["quantidade"] }} {{ produto["unidade"] }}</p>
                {% if user["admin"] %}
                    <p><b>id do produto</b> {{ produto['id'] }}</p>
                {% endif %}
            </p>

            {% if produto["consumidores"] %}
            <div class="consumidores_container">
                <p><b>Consumidor por: </b></p>
                <div class="consumidores">
                    {% for consumidor in produto["consumidores"] %}
                        {% if consumidor == context["usuario"] %}
                            <p class="consumidor usuario_consumidor">
                                    você
                            </p>
                        {% else %}
                            <p class="consumidor">
                                {{ consumidor }}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% else %}
                <p>Ainda não há consumidores</p>
            {% endif %}

            </div>
</div>
{% endfor %}
</div>

{% if context["compra"]["editavel"] %}
    <button class="enviar" id="enviar" onclick="enviar_produtos_selecionados().then(data => window.location.reload())">Salvar minhas escolhas</button>
{% endif %}
<script src="{{ url_for('static', filename='scripts/compra.js') }}"></script>
<script>

    dialogo_mudancas = document.querySelector("dialog")
    fecharDialogoMudancas()

    function abrirDialogoMudancas(){
        dialogo_mudancas.classList.add("dialog-open")
    }

    function fecharDialogoMudancas(){
        dialogo_mudancas.classList.remove("dialog-open")
    }

    async function pagar_compra(escolha){

        await enviar_produtos_selecionados().then( data => {
            if(escolha){
                return fetch("{{ url_for('pagar_compra', id=context['compra']['id']) }}")
            } else {
                return fetch("{{ url_for('remover_pgto_compra', id=context['compra']['id']) }}")
            }
        })
    }
</script>
{% endblock %}
