{% extends "base.html" %}

{% block content_title %}Lista de Compras{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compras.css') }}">
{% endblock %}
{% block content %}
    <h3>Filtrar compras por período</h3>
    <form action="{{ url_for('mostrar_compras') }}">
        {{ context["form"].inicio(class="formulario") }}
        {{ context["form"].fim(class="formulario") }}
        <button type="submit">Filtrar</button>
    </form>
    <div class="info">
        <h1>Compras realizadas entre os dias {{ context["compras"][-1]["data"]}} e {{context["compras"][0]["data"] }}</h1>
        <h3>Total do período: R$ {{'%0.2f'|format(context["valor_periodo"])|float}}</h3>
        <h3>Total de compras: {{ context["compras"]| length }}</h3>
    </div>
    <hr>
    <div class="compras-lista">
       {% for compra in context["compras"] %}
       <a href="{{ url_for('mostrar_compra', protocolo=compra['protocolo']) }}" class="compra">
        <div class="compras-container" title="valor: R${{ compra['preco'] }}">
            <div>
                <h2>{{compra["data"]}}</h2>
                <br> 
                <h3>{{compra["estabelecimento"]["nome"]}}</h3>
            </div> 
            <br>
            <h2>R${{compra["preco"]}}</h2>
            <div>
                <h2>{{compra["total_itens"]}} itens</h2>
            </div>
            <p><b>Pagador: </b>{{ compra["pagador"] if compra["pagador"] else 'não identificado' }}</p>
        </div>
       </a>
       {% endfor %}
    </div>
{% endblock %}