{% extends "base.html" %}

{% block content_title %}Encontrar Produtos{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/produtos.css') }}">
{% endblock %}
{% block content %}

<form action="{{ url_for('procurar_produtos')}}">
    <p>{{ request.args.get('q', '') }}</p>
    <input type="text" name="q" id="q" maxlength="100">
    <input type="submit">
</form>

<div class="divTable redTable">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead"><b>Data</b></div>
            <div class="divTableHead">Nome</div>
            <div class="divTableHead">Quantidade</div>
            <div class="divTableHead">Unidade</div>
            <div class="divTableHead">Preço</div>
            <div class="divTableHead">Preço real</div>
            <div class="divTableHead">Estabelecimento</div>
        </div>
    </div>
    <div class="divTableBody">
        {% for produto in context["produtos"] %}
        <div class="divTableRow">
            <div class="divTableCell">{{ produto["compra"]["data"] }}</div>
            <div class="divTableCell">{{ produto["nome"] }}</div>
            <div class="divTableCell">{{ produto["quantidade"] }}</div>
            <div class="divTableCell">{{ produto["unidade"] }}</div>
            <div class="divTableCell">{{produto["preco"] }}</div>
            <div class="divTableCell">{{ '%0.2f'|format(produto["preco_real"])|float }} / {{ produto["unidade"] }}</div>
            <div class="divTableCell">{{ produto["compra"]["estabelecimento"]["nome"] }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}